<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.demo.dao.ArticleDao">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <!--引用另一个缓存-->
    <cache-ref namespace="com.someone.application.data.SomeMapper"/>

    <!--resultMap-->
    <resultMap id="userResultMap" type="Article">
        <id property="id" column="user_id" />
        <result property="title" column="title"/>
        <result property="author" column="author"/>
    </resultMap>

    <select id="findByAuthorAndCreateTime" resultType="Article">
        SELECT
            `id`, `title`, `author_id`, `content`, `create_time`
        FROM
            `article`
        WHERE
            `author_id` = #{author} AND `create_time` > #{createTime}
    </select>
</mapper>